:root {
    --blanco: #fff;
    --primario: #50a6d8;
    --negro: #182339;
}
html {
    font-size: 62.5%;
}
body {
    background-image: url(../img/back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 90vh;
    font-family: 'Outfit', sans-serif;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenedor {
    max-width: 100rem;
    width: 400px;
    height: 100%;
    padding-right: 400px;
    margin: 0 auto;
    padding-top: 0px;
}
.titulo {
    font-size: 3.8rem;
    margin-top: 5rem;
    line-height: .8;
    color: var(--blanco);
}
.titulo span {
    color: var(--primario);
    display: block;
    font-size: 4.4rem;
}
.contenido {
    margin-top: 5rem;
    padding: 6rem 2rem;
    background-color: var(--blanco);
    max-width: 40rem;
    border-radius: 8px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}
.formulario,
.campo {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.formulario legend {
    text-align: center;
    font-size: 2.4rem;
    font-weight: 900;
}
.formulario label {
    color:  var(--negro);
}
.formulario select {
    background-color: #ecebeb;
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1.8rem;
}
.formulario [type="submit"] {
    background-color: var(--primario);
    color: var(--negro);
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    font-weight: 900;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 300ms ease;
    margin-top: 2rem;
}
.formulario [type="submit"]:hover {
    background-color: #1993a3;
}

.contenedor-resultado h2 {
    text-align: center;
}

.resultado {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    gap: 1rem;
}
.resultado img {
    width: 100%;
}
.resultado p {
    margin: 0 0 1rem;
    font-size: 1.6rem;
}
.resultado span {
    font-weight: 700;
}

